@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&family=Space+Mono&display=swap');

* {
  font-family: Space Mono, Roboto Mono, sans-serif;
  margin: 0;
}

/* Header */
header {
  background-image: url(https://storage.googleapis.com/gweb-uniblog-publish-prod/images/NY741_1.29.1-hero.max-1300x1300.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  min-height: 30em;
  z-index: 1;
}

header::after{
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

header .welcome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  justify-content: flex-start;
}

header h1{
  color: white;
  padding: 10px;
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
}
/* End Header */

/* Navbar */
nav {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  position: sticky;
  justify-content: space-between;
  padding: 0 10px;
}

nav a{
  text-decoration: none;
  color: inherit;
}

nav .logo{
  height: 4em;
  margin-right: 50px;
  cursor: pointer;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
}
nav ul li{
  background-color: black;
  color: white;
  padding: 2px;
}
/* End Navbar*/

/* Main */

main{
  background-color: bisque;
  position: relative;
  width: 100%;
  align-items: center;
  display: inline-flex;
}
main .member{
  width: 25%;
  padding: 5px;
}

.top{
  display: inline-block;
  box-sizing: border-box;
}

.name{
  font-size: 20px;
}

.picture{

}
/* End of Main */

/* Footer */

footer{
  position: relative;
  padding: 60px;
  background-color: rgb(47, 137, 221);
  opacity: 0.8;
  text-align: center;
}

.fa {
  text-decoration: none;
  height: 20px;
  width: 30px;
  font-size: 10px;
}

.fa:hover {
  opacity: 0.7;
}
