@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono&display=swap');
* {
  font-family: 'Space Mono', 'Roboto Mono', sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
}

/* Header */
header {
  background-image: url(https://storage.googleapis.com/gweb-uniblog-publish-prod/images/NY741_1.29.1-hero.max-1300x1300.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  max-width: 100%;
  min-height: 30em;
}

header::after{
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

/* End Header */

/* Navbar */
nav {
  background-color: black;
}

nav a{
  text-decoration: none;
  color: inherit;
}

nav .logo{
  background-color: white;
  height: 4em;
  padding: 5px;
  border-radius: 20%;
  cursor: pointer;
}

nav .logo:hover {
  opacity: 0.5;
}

nav ul{
  display: flex;
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin: 0.5em auto;
  font-size: 25px;
  float: right;
  gap: 25px;
}
nav li{
  background-color: black;
  color: white;
  padding: 2px;
}
nav li:hover {
  transition-duration: 1s;
  background-color: rgb(110, 110, 110);
  border-radius: 15px;
}
/* End Navbar*/

main{
  background-color: blanchedalmond;
}

.sectionheader {
  width: 30%;
  text-align: center;
  margin: 15px auto;
  font-size: 40px;
  border: 10px groove blue;
  background-color: red;
  border-radius: 25px;
  font-family: sans-serif;
  
}

p {
  text-indent: 1em;
  font-family: 'Poppins', sans-serif;
}

hr {
  color: black;
  
}
/* Team Section */
.team {

  position: relative;
  width: 100%;
  align-items: center;
  display: table;
}

.member{
  display: table-cell;
  background-color: bisque;
  width: 30%;
  padding: 10px;
  border-right: 1px solid black ;
}

.top{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name{
  margin: 25px 20%;
  max-width: 60%;
  align-items: cen;
}

.picture img{
  position: relative;
  object-fit: cover;
  width: 110px;
  height: 110px;
}
/* End Team Section */

/* Hour of Code section */

.videocontent {
  display: flex;
  align-items: center;
  margin: 10px 30px;
}

.videocontent p{
  max-width: 40;
}

/*End Hour of Code section */

/* Footer */

footer{
  position: relative;
  padding: 30px;
  background-color: rgba(47, 137, 221, 0.8);
  text-align: center;
}

.social-icons img {
  width: 25px;
}

.social-icons:hover {
  opacity: 0.5;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 19, 80);
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 4;
}