@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&family=Space+Mono&display=swap');

* {
  font-family: Space Mono, Roboto Mono, sans-serif;
  margin: 0;
}


/* Header */
header {
  background-color: black;
  color: white;
  height: 15em;
  position: relative;
  padding-left: 5em;
  margin: 0 auto
  
}

header h1 {
  transform: translateY(3em);
}
header img {
  background-color: white;
}
/* End Header */

/* Navbar */
nav {
  margin-top: 5em;
  line-height: 2em;
  background-color: white;
  position: sticky;
}
nav img{
  cursor: pointer;
  height: 150px;
}

/* End Navbar*/